/*ATOMS------------------------------------------------------------*/

/*SETTING THE SIZING*/
* {
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

/*FONTS*/
@font-face {
   font-family: 'Gerstner-ProgrammMedium';
   src: url('assets/Gerstner-ProgrammMedium.woff2') format('woff2'),
        url('assets/Gerstner-ProgrammMedium.woff') format('woff');
   font-style: normal;
}

@font-face {
   font-family: 'Gerstner-ProgrammRegular';
   src: url('assets/Gerstner-ProgrammRegular.woff2') format('woff2'),
        url('assets/Gerstner-ProgrammRegular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}


/*COLORS*/
:root {
   --color-charcoal:#323334;
   --color-graphite-b6:#4B4D4E;
   --color-graphite-h6:#A8A6A4;
   --color-bronze:#BA6C3B;
   --color-bronze-dark:#753009;
   --color-accent-sakura400:#5E313E;
   --color-accent-sakura300:#793E50;
   --color-accent-sakura200:#F09C94;
   --color-accent-sakura100:#FBD3D0;
   --color-accent-olive400:#41452B;
   --color-accent-olive300:#525837;
   --color-accent-olive200:#8A8860;
   --color-accent-olive100:#C2C3A2;
   --color-accent-blue400:#293E56;
   --color-accent-blue300:#35506E;
   --color-accent-blue200:#607C95;
   --color-accent-blue100:#A2B4C3;
   --paper-off-white: #FBFAF8;
   --paper-vanilla: #FBF6EF;
   --paper-cream: #F8F1E2;
   --paper-powder-blue:#E0E7EB;
   --paper-mixed: #BCA78A;
   
   --spacing-base:0.5em;
   --spacing-xs:1em;
   --spacing-sm:1.5em;
   --spacing-md:2em;
   --spacing-lg:2.5em;
   --spacing-xl:3em;
   --spacing-2xl:3.5em;
   --spacing-3xl:4em;
   --spacing-4xl:4.5em;
   --spacing-5xl:5em;
   --spacing-6xl:10em;
   --breakpoint-desktop: 1440px;
   --breakpoint-mobile: 500px;

}


/*TYPE STYLES*/
body {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 18px;
   line-height: 1.25em;
   font-weight:normal;
   color: var(--color-graphite-b6);
   margin: 32px 56px 3em 56px;
}

h1 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 78px;
    line-height: 100%;
    font-weight:500;
    color:var(--color-charcoal);
 }

 h2 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 60px;
    line-height: 100%;
    font-weight:500;
    color:var(--color-charcoal);
 }

 h3 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 45px;
    line-height: 120%;
    font-weight:500;
    color:var(--color-charcoal);
 }

 h4 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 33px;
    line-height: 125%;
    font-weight:500;
    color:var(--color-charcoal);
 }

 h5 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
   font-size: 24px;
   line-height: 125%;
   font-weight:500;
   color:var(--color-charcoal);
 }

 h6 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 1em;
    line-height: 1.25em;
    font-weight: 500;
    color:var(--color-charcoal);
 }
 .h6-alt {
   font-family: 'IBM Plex Mono' ,'Courier New', Courier, monospace ; 
   font-size: 15px;
   line-height: 1.25em;
   font-weight:400;
   letter-spacing: 0.32px;
   text-transform: uppercase;
   color:var(--color-charcoal);
}


 .body-xl {
    font-size: 24px;
    line-height: 125%;
    font-weight:500;
 }

 .body-l {
    font-size: 21px;
    line-height: 125%;
    font-weight:500;
 }

 .body-md {
   font-size: 1em;
   line-height: 1.25em;
   font-weight:normal;
}

 .body-s {
    font-size: 15px;
    line-height: 125%;
    font-weight:500;
 }

 a {
   color: var(--color-charcoal);
 }
 a:hover{
   color: var(--color-bronze-dark);
 }


/*GRID MOLECULES------------------------------------------*/
/**-----FLEX GRIDS------*/
.grid-flex-5{
   display: flex;
   padding: 16px 0px;
   justify-content:flex-start;
   align-items:flex-start;
   gap: 16px 16px;
   flex-wrap: wrap;
}
.col-flex-5{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-width: 264px;
   max-width: 19%;
}
.grid-flex-3{
   display: flex;
   padding: 32px 0px;
   justify-content:space-between;
   align-items: flex-start;
   gap: 32px 32px;
   flex-wrap: wrap;
}
.col-flex-3 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-width: 440px;
   max-width: 31%;
}
.grid-flex-1{
   display: flex;
   flex-direction: column;
   padding: 16px 20%;
   justify-content:flex-start;
   align-items: flex-start;
   gap: 16px;
}
/**-----COLUMN GRIDS------*/
.grid-5{
   display: grid;
   grid-template-columns: repeat(5, minmax(264px, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:16px;
}
.grid-4{
   display: grid;
   grid-template-columns: repeat(4, minmax(20em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-sm, 1.5em);
   margin: 0px 1.75em;
}
.grid-3{
   display: grid;
   grid-template-columns: repeat(3, minmax(440px, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:32px;
}
.col-1{
   grid-column: 1/2;
   grid-row: auto;
}
.col-2{
   grid-column: 2/3;
   grid-row: auto;
}
.col-3{
   grid-column: 3/4;
   grid-row: auto;
}
.col-4{
   grid-column: 4/5;
   grid-row: auto;
}
.col-5{
   grid-column: 5/6;
   grid-row: auto;
}
.col-full{
   grid-column: 1/6;
   grid-row: auto;
}
.col-1-3{
   grid-column: 1/3;
   grid-row: auto; 
}
.col-3-5{
   grid-column: 3/5;
   grid-row: auto;
}
.col-5-6{
   grid-column: 5/6;
   grid-row: auto;
}


/*----MOLECULES----*/

.nav{
   display: flex;
   justify-content: space-between;
   padding-bottom: 1em;
}
#nav-logo{
   min-width: 3em;
   max-width: 3em;
}
#nav-items{
   display: flex;
   justify-content: flex-end;
   gap: var(--spacing-lg);
   align-items: flex-start;
}
#nav-items a{
   color: var(--color-charcoal);
   text-decoration: none;
   font-family: 'Gerstner-ProgrammRegular', 'IBM Plex Sans', sans-serif;
}
#nav-items a:hover{
   color: var(--color-charcoal);
   border-bottom: 2px solid var(--color-graphite-b6);
}
#nav-items .current-page{
   color: var(--color-charcoal);
   border-bottom: 2px solid var(--color-graphite-b6);
}

/*HEADERS*/
.header-left{
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding-top: 18px;
   padding-bottom: 40px;
}
.header-div{
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding-top: 18px;
   padding-bottom: 40px;
   border-bottom: 2px solid var(--color-graphite-h6);
   margin-bottom: 80px;
}
.subheader{
   color: var(--color-graphite-h6);
}
.accordion-button{
   color: var(--color-graphite-h6);
   text-decoration: underline;
   padding:8px 0px;
}
.accordion-button:hover{
   color: var(--color-graphite-b6);
   cursor: pointer;
}
.accordion-body{
   color: var(--color-graphite-h6);
   display: none;
   padding: 8px 0px;
}
.accordion.active .accordion-body{
   display: block;
}

/*FOOTERS*/
.footer-div{
   display: flex;
   flex-direction: column;
   gap: 8px;
   padding-top: 18px;
   padding-bottom: 40px;
   border-top: 2px solid var(--color-graphite-h6);
   margin-top: 80px;
}
.prev-container{
   display: flex;
   flex-direction: row;
   align-items: center;
   min-width: 20em;
   max-width: 48%;
   gap: 1em;
}
.next-container {
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   min-width: 20em;
   max-width: 48%;
   gap: 1em;
}
.footer-div a{
   text-decoration: none;
}
#accent-color{
   color: var(--color-bronze);
}

/*Content Blocks*/
.vertical-base{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--spacing-base, 0.5em);
   align-self: stretch;
}
.vertical-xs{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--spacing-xs, 1em);
   align-self: stretch;
}
.span-width{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

/*Gallery Main----------------------------------*/
.frame{
   display: flex;
   flex-direction: column;
   gap: 40px;
   align-items: flex-start;
   margin-bottom: 80px;
}
.framed-image{
   border-radius: 2px;
   width: 100%;
   height: fit-content;
   object-fit: cover;
   mix-blend-mode: multiply;
   box-shadow: -2px 2px 2px 0px rgba(255, 255, 255, 0.15) inset, 0px 27px 8px -16px rgba(50, 51, 52, 0.15), 0px 29px 16px 4px rgba(36, 36, 36, 0.08);
}
.image-description{
   display: flex;
   flex-direction: column;
   gap: 16px;
}

/*PORTFOLIO---------------------------------------------------------*/
.portfolio-section{
   display: flex;
   flex-direction: column;
   gap: 8px;
   margin-bottom: 80px;
}
.section-header{
   width: 33%;
   min-width: 400px;
}
.portfolio-row{
   padding: 24px 0px;
}
.portfolio-item{
   display: flex;
   flex-direction: column;
   align-items: start;
   gap: 4px;
   height: fit-content;
   padding: 4px 8px;
}
.portfolio-ft-img{
   margin: 8px 0px;
   width: 100%;
   height: 177px;
   object-fit: cover;
}
.portfolio-title{
   display: flex;
   padding: 4px 0px;
   flex-direction: column;
   align-items: flex-start;
   gap: 4px;
}
.portfolio-title a{
   text-decoration: none;
}
.portfolio-title:hover{
   text-decoration: underline;
   cursor: pointer;
}

/*PORTFOLIO INTERIOR------------------------------------------------*/
.use-case-left-margin{
   grid-column: 1/2;
   grid-row: auto;
}
.use-case-main{
   grid-column: 2/5;
   grid-row: auto;
   display: flex;
   flex-direction: column;
   gap: 80px;
}
.use-case-right-margin{
   grid-column: 5/6;
   grid-row: auto;
}
.portfolio-article{
   display: flex;
   flex-direction: column;
   gap: 24px;
}
.list-container{
   border-left: 1px solid var(--color-graphite-h6);
   margin: 18px 0px;
}
.portfolio-ol{
   margin: 0px 32px;
}
.portfolio-ol li{
   padding:8px 18px;
}

/*COLLECTIONS MAIN--------------------------------------------------*/

.pin-flex-container{
   display: flex;
   flex-direction: column;
   gap: 1em;
}
.pin{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--spacing-xs);
   padding:var(--spacing-xs) var(--spacing-base);
}

/*Image Treatments*/
.image-framed{
   width: fit-content;
   height: 424px;
   border-radius: 2px;
   box-shadow: 0px 29px 16px 4px rgba(36, 36, 36, 0.08), 
   0px 27px 8px -16px rgba(50, 51, 52, 0.15), 
   -2px 2px 2px 0px rgba(255, 255, 255, 0.15) inset;
}
.image-printed{
   width: 100%;
   height:fit-content;
   max-height: 540px;
   object-fit:scale-down;
   border-radius: 2px;
   opacity: 0.9;
   filter: saturate(10%);
}
.image-printed:hover{
   filter: saturate(100%);
}

/*ABOUT--------------------------------------------------*/

.link-listing {
   display: flex;
   flex-direction: column;
   margin: var(--spacing-md) 0em;
   gap: 0.75em;
}
.link-listing a{
   text-decoration: none;
   font-family: 'IBM Plex Mono' ,'Courier New', Courier, monospace ;
   color: var(--color-bronze);
}
.tiled-image-container{
   display: grid;
   grid-template-columns: 1fr 1fr;
   gap: 1em;
   width: 100%;
}
.tiled-image-column{
   display: flex;
   flex-direction: column;
   gap: 1em;
}
.tatami-square{
   width: 100%;
   max-height: 540px;
   object-fit: cover;
}
.tatami-stacked{
   display: flex;
   flex-direction: column;
   gap: 18px;
}
.tatami-block{
   max-height: 261px;
   object-fit: cover;
}



/*RESPONSIVE STYLING------------------------------------------*/

