/*ATOMS------------------------------------------------------------*/

/*SETTING THE SIZING*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
 }
 
 /*FONTS*/
 
 @font-face {
    font-family: 'CotorisR';
    src: url('../wedding/assets/CotorisR-webfont.woff2') format('woff2'),
         url('../wedding/assets/CotorisR-webfont.woff') format('woff');
    font-style: normal;
 }

 @font-face {
    font-family: 'Gerstner-ProgrammMedium';
    src: url('../blog/assets/Gerstner-ProgrammMedium.woff2') format('woff2'),
         url('../blog/assets/Gerstner-ProgrammMedium.woff') format('woff');
    font-style: normal;
 }
 
 @font-face {
    font-family: 'Gerstner-ProgrammRegular';
    src: url('../blog/assets/Gerstner-ProgrammRegular.woff2') format('woff2'),
         url('../blog/assets/Gerstner-ProgrammRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'Calluna-Regular';
    src: url('../blog/assets/Calluna-Regular-webfont.woff2') format('woff2'),
         url('../blog/assets/Calluna-Regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
 }

 @font-face {
    font-family: 'Calluna-It';
    src: url('../blog/assets/Calluna-It-webfont.woff2') format('woff2'),
         url('../blog/assets/Calluna-It-webfont.woff') format('woff');
    font-weight: normal;
    font-style: italic;
 }
 
 
 /*COLORS*/
 :root {
    --color-charcoal:#323334;
    --color-ink:#4B4D4E;
    --color-graphite:#A8A6A4;

    --color-accent-wine400:#5A2635;
    --color-accent-wine300:#7C364C;
    --color-accent-wine200:#F09C94;
    --color-accent-wine100:#FBD3D0;
    --color-accent-wine50: #FFEFEE;

    --color-accent-olive400:#41452B;
    --color-accent-olive300:#525837;
    --color-accent-olive200:#8A8860;
    --color-accent-olive100:#C2C3A2;
    --color-accent-olive50: #EAEBE0;

    --color-accent-juniper400:#21453C;
    --color-accent-juniper300:#2E6054;
    --color-accent-juniper200:#5A8C7F;
    --color-accent-juniper100:#99BDB4;
    --color-accent-juniper50: #E0EBE8;

    --color-accent-sienna400:#6E2C17;
    --color-accent-sienna300:#B34B29;
    --color-accent-sienna200:#D97959;
    --color-accent-sienna100:#E5AC99;
    --color-accent-sienna50: #F5DED6;

    --paper-off-white: #FBFAF8;
    --paper-vanilla: #FBF6EF;
    --paper-cream: #F8F1E2;
    --paper-mixed: #BCA78A;
    --paper-olive: #EAEBE0;
    
    --spacing-base:0.5em;
    --spacing-xs:1em;
    --spacing-sm:1.5em;
    --spacing-md:2em;
    --spacing-lg:2.5em;
    --spacing-xl:3em;
    --spacing-2xl:3.5em;
    --spacing-3xl:4em;
    --spacing-4xl:4.5em;
    --spacing-5xl:5em;
    --spacing-6xl:10em;
    --breakpoint-desktop: 1440px;
    --breakpoint-mobile: 500px;
 
 }
 
 
 /*TYPE STYLES*/
 body {
    font-family: 'Calluna-Regular', serif;
    font-size: 16px;
    line-height: 20px; /*1.25em*/
    font-weight:normal;
    color: var(--color-ink);
    /*padding: 1.75em 1.75em;
    margin: 0px 0px 3em 0px;*/
 }

 ul{
   padding-left: 1.5em;
 }
 
 /*All font sizes right now are based in ems off of the body font size. So for any responsive adjustments changes can be made to body
 first and then micro adjusted if need be. */
 
 h1 {
    font-family: 'CotorisR', 'Calluna-Regular', serif;
     font-size: 9.25em;
     line-height: 1.1em;
     font-weight:500;
     text-transform: uppercase;
  }
 
  h2 {
    font-family: 'CotorisR', 'Calluna-Regular', serif;
     font-size: 6.5em;
     line-height: 1.1em;
     font-weight:500;
     text-transform: uppercase;
  }
 
  h3 {
    font-family: 'CotorisR', 'Calluna-Regular', serif;
     font-size: 3em;
     line-height: 1.3em;
     font-weight:500;
     text-transform: uppercase;
     letter-spacing: 2.4px;
  }
 
  h4 {
    font-family: 'CotorisR', 'Calluna-Regular', serif;
     font-size: 2em;
     line-height: 1.3em;
     font-weight:400;
     text-transform: uppercase;
     letter-spacing: 1.6px;
     -webkit-text-stroke-width: 0.25px;
     -webkit-text-stroke-color: var(--color-ink);
  }
 
  h5 {
    font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 1.5em;
    line-height: 1.3em;
    font-weight:400;
    text-transform: uppercase;
    letter-spacing: 0.125rem;
  }
 
  h6 {
    font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
     font-size: 1.125em;
     line-height: 1.25em;
     font-weight: 500;
     text-transform: uppercase;
  }
 
  .body-xl {
     font-size: 1.5em;
     line-height: 1.25em;
     font-weight:400;
  }
 
  .body-l {
     font-size: 1.25em;
     line-height: 1.3em;
     font-weight:400;
  }
  .body-l-justify {
   font-size: 1.25em;
   line-height: 1.3em;
   font-weight:400;
   text-align: justify;
}
 
  .body-md {
    font-size: 1em;
    line-height: 1.25em;
    font-weight:normal;
 }
 
  .body-s {
     font-size: 0.875em;
     line-height: 1.25em;
     font-weight:500;
  }
 
  .body-xs {
     font-size: 0.75em;
     line-height: 1.25em;
     font-weight:400;
  }
  a {
    color: var(--color-accent-sienna300);
  }
  a:hover{
    color: var(--color-accent-sienna200);
  }

  a.nav-inactive{
   color: var(--color-ink);
   text-decoration: none;
  }

  a.nav-active{
   color: var(--color-ink);
   text-decoration: underline;
  }

  .sienna{
   color: var(--color-accent-sienna400);
}
.center-italic{
   text-align: center;
   font-style: italic;
}
.center{
   text-align: center;
}

  /* CTAs -------------------------------------------------*/
#cta-row{
   padding: 1.5em;
   display: flex;
   justify-content: center;
   align-items: center;
   gap: 1em;
   flex-wrap: wrap;
}
.cta{
    display: inline-flex;
    padding: 1rem 1.5rem;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-radius: 2rem;
    border: 2px solid var(--color-ink);
}
.cta#off-white{
   border: 2px solid var(--paper-off-white);
}
.cta#off-white a{
   color: var(--paper-off-white);
   text-decoration: none;
}
.cta#off-white:hover{
   border: 2px solid var(--paper-off-white);
   background-color: var(--paper-off-white);
}
.cta#off-white a:hover{
   color: var(--color-ink);
   text-decoration: none;
}
.cta#wine{
   border: 2px solid var(--color-accent-wine300);
}
.cta#wine a{
   color: var(--color-accent-wine300);
   text-decoration: none;
}
.cta#wine:hover{
   color: var(--paper-off-white);
   border: 2px solid var(--color-accent-wine300);
   background-color: var(--color-accent-wine300);
}
.cta#wine a:hover{
   color: var(--paper-off-white);
   text-decoration: none;
}
 
 /*GRID MOLECULES------------------------------------------*/
 
 /*------FLEX GRIDS--------*/
 .grid-flex-6{
    display: flex;
    padding: 0px 1.75em;
    justify-content:flex-start;
    align-items: flex-start;
    gap: 0.5em;
    flex-wrap: wrap;
 }
 .col-flex-6{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0.75em;
    min-width: 13em;
    max-width: 16%;
    gap: 0.5em;
 }
 .grid-flex-5{
    display: flex;
    padding: 0px 1.75em;
    justify-content:space-evenly;
    align-items: flex-start;
    gap: var(--spacing-xs, 1em) var(--spacing-xs, 1em);
    flex-wrap: wrap;
 }
 .col-flex-5{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 16.5em;
    max-width: 19%;
 }
 .grid-flex-4{
    display: flex;
    padding: 1.75em 1.75em;
    justify-content: space-evenly;
    align-items: flex-start;
    gap: var(--spacing-sm, 1.5em) var(--spacing-sm, 1.5em);
    flex-wrap: wrap;
 }
 .col-flex-4 {
    display: flex;
    padding: 0.75em;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    min-width: 20em;
    max-width: 23%;
    gap: 1em;
 }
 .col-flex-4-tall {
   display: flex;
   padding: 0.75em;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   min-width: 20em;
   max-width: 23%;
   gap: 4em;
}
.col-flex-4-short {
   display: flex;
   padding: 0.75em;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
   min-width: 20em;
   max-width: 18%;
   gap: 4em;
}
.col-flex-4-centered {
   display: flex;
   padding: 0.75em;
   flex-direction: column;
   align-items: center;
   align-self: center;
   justify-content: flex-start;
   min-width: 20em;
   max-width: 23%;
   gap: 1em;
}
.col-flex-4-tall-centered {
   display: flex;
   padding: 0.75em;
   flex-direction: column;
   align-items: center;
   align-self: center;
   justify-content: flex-start;
   min-width: 20em;
   max-width: 23%;
   gap: 4em;
}
 .grid-flex-3{
    display: flex;
    padding: 0px 1.75em;
    justify-content:space-between;
    align-items: flex-start;
    gap: var(--spacing-md, 2em) var(--spacing-md, 2em);
    flex-wrap: wrap;
 }
 .col-flex-3 {
    display: flex;
    padding-right: 1em;
    flex-direction: column;
    align-items: flex-start;
    min-width: 13em;
    max-width: 31%;
 }
 .grid-flex-2{
    display: flex;
    padding: 0px 1.75em;
    justify-content:space-around;
    align-items: flex-start;
    gap: var(--spacing-lg, 2.5em) var(--spacing-lg, 2.5em);
    flex-wrap: wrap;
 }
 .col-flex-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    min-width: 20em;
    max-width: 48%;
    gap:1em;
 }
 .col-flex-2-short {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-width: 20em;
   max-width: 35em;
   gap:1em;
}
 .grid-flex-1{
    display: flex;
    flex-direction: column;
    padding: 0em 1.75em;
    justify-content:flex-start;
    align-items: center;
    gap: var(--spacing-md);
 }
 .grid-flex-column{
   display: flex;
   max-width: 88em;
   margin-left: auto;
   margin-right: auto;
   flex-direction: column;
   flex-wrap: wrap;
   align-content: center;
   gap: 1.5em;
 }
 
 
 /*------GRID TEMPLATES--------*/
 .grid-6{
    display: grid;
    grid-template-columns: repeat(6, minmax(13em, 1fr));
    grid-auto-rows: auto;
    gap:var(--spacing-base, 0.5em);
    padding: var(--spacing-xl) 0em;
 }
 .grid-5{
    display: grid;
    grid-template-columns: repeat(5, minmax(16.5em, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap:var(--spacing-xs, 1em);
    margin: 0px 1.75em;
 }
 .grid-4{
    display: grid;
    grid-template-columns: repeat(4, minmax(20em, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap:var(--spacing-sm, 1.5em);
    margin: 0px 1.75em;
 }
 .grid-3{
    display: grid;
    grid-template-columns: repeat(3, minmax(25.5em, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap:var(--spacing-md, 2em);
    margin: 0px 1.75em;
 }
 .grid-2{
    display: grid;
    grid-template-columns: repeat(2, minmax(42em, 1fr));
    grid-auto-rows: auto;
    grid-auto-flow: row;
    gap:var(--spacing-lg, 2.5em);
    margin: 0px 1.75em;
 }
 
 .col-1{
    grid-column: 1/2;
    grid-row: auto;
 }
 .col-2{
    grid-column: 2/3;
    grid-row: auto;
 }
 .col-3{
    grid-column: 3/4;
    grid-row: auto;
 }
 .col-4{
    grid-column: 4/5;
    grid-row: auto;
 }
 .col-5{
    grid-column: 5/6;
    grid-row: auto;
 }
 .col-6{
    grid-column: 6/7;
    grid-row: auto;
 }

 /* IMAGE STYLING --------------------------------------*/

 .wrapper {
    width: 225px;
    height: 275px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em;
 }
.frame-caption{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5em;
   align-self: stretch;
}
 .frame img {
    width: 200px;
    height: 250px;
    border-radius: 250px 250px 0px 0px;
    object-fit: cover;
    /*opacity: 0.95;*/
    /*filter: saturate(10%);*/
 }

 .mp-frame img {
    width: 200px;
    height: 250px;
    border-radius: 250px;
    object-fit: cover;
    /*opacity: 0.95;
    filter: saturate(10%);*/
 }

/*----------------HOME---------------*/
/*HOME HEADER*/
#home-header{
   display: block;
   width: auto;
   height: 900px;
   /*padding: 2.5em 1.75em 4.5em 1.75em;*/
   background-color: var(--paper-vanilla);
   background-image: url(../wedding/assets/home-header-3.png);
   background-size: cover;
}
#home-header-orchid{
   padding-top: 2.5em;
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#home-header-top-line{
   display: flex;
   width: 100%;
   align-items: center;
   justify-content: space-around;
   flex-wrap: wrap;
   padding: 2em 15em;
   color: var(--paper-off-white);
}
#home-header h1{
   display: flex;
   justify-content: space-around;
   color: var(--paper-off-white);
}
#home-header-bottom-line{
   color: var(--paper-off-white);
   display: flex;
   align-items: center;
   justify-content: space-between;
   align-self: stretch;
   flex-wrap: wrap;
   padding: 0em 28em;
}

/*CEREMONY*/
#ceremony{
   padding-top: 4em;
   padding-bottom: 7em;
} 
#top-offset-copy{
   padding-top: 9.5em;
}
#home-when, #home-where{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: 1em;
}

/*LODGING*/
#lodging-callout{
   padding: 4.5em 1em;
}
#nashville-lodging-container{
   background-image: url(../wedding/assets/nashville-callout-1.jpg);
   background-size: cover;
   display: flex;
   width: 45%;
   width: 50em;
   padding: 6em 3em;
   flex-direction: column;
   align-items: center;
   align-self: stretch;
   gap: 1.5em;
}
#columbia-lodging-container{
   background-image: url(../wedding/assets/columbia-callout-1.jpg);
   background-size: cover;
   display: flex;
   width: 45%;
   width: 50em;
   padding: 6em 3em;
   flex-direction: column;
   align-items: center;
   align-self: stretch;
   gap: 1.5em;
}

/*WEDDING PARTY & MEET THE PARENTS*/
#wedding-party{
   background-color: var(--color-accent-olive50);
   padding:6em 1.75em 8em;
}
#wedding-party-top-line{
   display: flex;
   align-items: center;
   justify-content: space-around;
}
#wedding-party-frame{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0em 4em;
   gap: 1em;
}
#meet-the-parents{
   padding: 6em 1.75em;
}


/*FAQS*/
#faq{
   background-color: var(--paper-vanilla);
   padding: 5em 1.75em 10em;
}
#faq-top-line{
   display: flex;
   align-items: center;
   align-self: stretch;
   justify-content: center;
   gap: 4em;
}
#faq-content-box{
   min-width: 16em;
   max-width: 42em;
   margin: 3.5em auto;
   display: flex;
   flex-direction: column;
   gap: 2.5em;
}
.faq-col{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   align-self: stretch;
   gap: 0.5em;
}


/*FOOTER*/
#footer{
   background-color: var(--paper-mixed);
   color: var(--paper-off-white);
   padding: 3em 1.75em 6em;
   display: flex;
   flex-direction: column;
   gap: 1em;
   align-items: center;
}
#footer-emblem{
   display: flex;
   padding: 1.5em;
   align-items: center;
   gap: 4em;
   flex-wrap: wrap;
}
#footer-emblem h4{
   min-width: 2em;
}
#footer-text{
   display: flex;
   flex-direction: column;
   padding: 1em;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
}

/*------------------NASHVILLE & COLUMBIA LODGING-----------------------*/

nav{
   display: flex;
   width: 100%;
   padding: 1.75em;
   justify-content: space-between;
   align-items: flex-start;
}

.nav-wrapper{
   display: inline-flex;
   padding: 1em 0em;
   justify-content: flex-end;
   align-items: center;
   gap: 2.5em;
   flex-wrap: wrap;
}

header.lodging-header{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   gap: 0.5em;
   padding: 0em 1.75em 4em;
}

.lodging-column-title{
   display: flex;
   flex-direction: column;
   align-items: center;
   align-self: stretch;
}

#nashville-transportation-section{
   padding: 4em 1.75em;
}

#columbia-transportation-section{
   padding: 4em 1.75em;
}

#nc-map-image{
   padding: 5em 0em;
   width: 100%;
   height: fit-content;
}
#nc-map-image img{
   width: 100%;
   height: fit-content;
   object-fit: cover;
}

#nashville-map-image{
   padding: 1.75em 0em;
   width: 100%;
   height: fit-content;
}

#nashville-map-image img{
   width: 100%;
   height: fit-content;
   object-fit: cover;
}

#columbia-map-image{
   padding: 5em 0em;
   width: 100%;
   height: fit-content;
}

#columbia-map-image img{
   width: 100%;
   height: fit-content;
   object-fit: cover;
}

section#nashville-attractions{
   background-color: var(--paper-vanilla);
   padding: 4em 1.75em 9em;
}

.attraction-row{
   display: flex;
   flex-direction: row;
   gap: 1em;
   padding: 1em 0em;
}

section#columbia-lodging{
   background-color: var(--color-accent-olive50);
   padding: 6em 1.75em 9em;
}

#columbia-lodging-listing{
   padding: 4em 1.75em;
}

/*-----------MOBILE-------------------------------------------------------*/
@media only screen and (max-width: 1463px){
   #wedding-party-clover-bleft{
      display: none;
   }
   #home-header-top-line{
      display: none;
   }
}

@media only screen and (max-width: 971px) {
   
   /*BASE MODULES*/
   .grid-flex-4{
      justify-content: center;
   }

   /*HOME HEADER MOBILE*/

   #home-header-bottom-line{
      justify-content: center;
      padding: 0em 1em;
      gap: 0.5em;
   }

   /*CEREMONY*/
   #ceremony{
      padding-top: 2em;
      padding-bottom: 3em;
   } 
   #top-offset-copy{
      padding-top: 4.5em;
   }

   /*LODGING*/
   #lodging-callout{
      padding: 4.5em 1em;
   }
   #nashville-lodging-container{
      padding: 3em;
      gap: 0.5em;
   }
   #columbia-lodging-container{
      padding: 3em;
      gap: 0.5em;
      }

   /*WEDDING PARTY & MEET THE PARENTS*/
   #wedding-party{
      padding:4em 1em 6em;
   }
   #wedding-party-top-line{
      display: flex;
      flex-direction: column;
      gap: 0.5em;
   }
   #wedding-party-clover-tright, #wedding-party-clover-bleft{
      display: none;
   }
   #wedding-party-frame{
      padding: 0em 2em;
      gap: 0.5em;
   }
   #meet-the-parents{
      padding: 3em 1em;
   }

   /*FAQS*/
   #faq{
      padding: 5em 1em;
   }

   /*FOOTER*/
   #footer{
      padding: 3em 1em 6em;
      gap: 1em;
   }
   #footer-emblem{
      flex-direction: column;
      padding: 1em;
      gap: 2em;
   }
#footer-emblem h4{
   min-width: 2em;
}
#footer-text{
   display: flex;
   flex-direction: column;
   padding: 1em;
   align-items: center;
   justify-content: center;
   gap: 0.5em;
}

}

@media only screen and (max-width: 746px){
   
   /*BASE STYLES*/
   h2{
      font-size: 3em;
      line-height: 1.3em;
   }
   h3{
      font-size:2em;
   }
   
   /*--------------LODGING PAGES*----------------*/
   nav{
      display: flex;
      flex-direction: column;
      width: 100%;
      padding: 2em 1em 4em;
      justify-content: center;
      align-items: center;
   }
   
   .nav-wrapper{
      display: inline-flex;
      flex-direction: column;
      padding: 1em 0em;
      justify-content: center;
      align-items: center;
      gap: 2em;
      flex-wrap: wrap;
   }
   
   header.lodging-header{
      padding: 1.75em;
   }
   
   .attraction-row{
      flex-wrap: wrap;
      justify-content: center;
   }

   #faq-top-line{
      flex-direction: column;
      gap:1em;
   }
   #faq-ivy-right{
      display: none;
   }

}

@media only screen and (max-width:532px) {
   h1{
      font-size: 6.5em;
      line-height: 1.1em;
   }

   /*MEET THE PARENTS*/
   #mp-title{
      text-align: center;
   }
   #mp-clover-bottom{
      display: none;
   }
   .col-flex-4#meet-the-parents-title-wrapper{
      align-items: center;
   }
}