/*ATOMS------------------------------------------------------------*/

/*SETTING THE SIZING*/
* {
   margin: 0px;
   box-sizing: border-box;
}

/*FONTS*/
@font-face {
   font-family: 'Gerstner-ProgrammMedium';
   src: url('../blog/assets/Gerstner-ProgrammMedium.woff2') format('woff2'),
        url('../blog/assets/Gerstner-ProgrammMedium.woff') format('woff');
   font-style: normal;
}

@font-face {
   font-family: 'Gerstner-ProgrammRegular';
   src: url('../blog/assets/Gerstner-ProgrammRegular.woff2') format('woff2'),
        url('../blog/assets/Gerstner-ProgrammRegular.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}


/*COLORS*/
:root {
   --color-charcoal:#323334;
   --color-graphite-b6:#4B4D4E;
   --color-graphite-h6:#A8A6A4;
   --color-bronze:#BA6C3B;
   --color-bronze-dark:#753009;
   --color-accent-sakura400:#5E313E;
   --color-accent-sakura300:#793E50;
   --color-accent-sakura200:#F09C94;
   --color-accent-sakura100:#FBD3D0;
   --color-accent-olive400:#41452B;
   --color-accent-olive300:#525837;
   --color-accent-olive200:#8A8860;
   --color-accent-olive100:#C2C3A2;
   --color-accent-blue400:#293E56;
   --color-accent-blue300:#35506E;
   --color-accent-blue200:#607C95;
   --color-accent-blue100:#A2B4C3;
   --paper-off-white: #FBFAF8;
   --paper-vanilla: #FBF6EF;
   --paper-cream: #F8F1E2;
   --paper-powder-blue:#E0E7EB;
   --paper-mixed: #BCA78A;
   
   --spacing-base:0.5em;
   --spacing-xs:1em;
   --spacing-sm:1.5em;
   --spacing-md:2em;
   --spacing-lg:2.5em;
   --spacing-xl:3em;
   --spacing-2xl:3.5em;
   --spacing-3xl:4em;
   --spacing-4xl:4.5em;
   --spacing-5xl:5em;
   --spacing-6xl:10em;
   --breakpoint-desktop: 1440px;
   --breakpoint-mobile: 500px;

}


/*TYPE STYLES*/
body {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 16px;
   line-height: 20px; /*1.25em*/
   font-weight:normal;
   color: var(--color-charcoal);
   padding: 1.75em 1.75em;
   margin: 0px 0px 3em 0px;
}

/*All font sizes right now are based in ems off of the body font size. So for any responsive adjustments changes can be made to body
first and then micro adjusted if need be. */

h1 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 4.5em;
    line-height: 1.1em;
    font-weight:500;
 }

 h2 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 3.5em;
    line-height: 1.1em;
    font-weight:500;
 }

 h3 {
   font-family: 'Gerstner-ProgrammMedium', 'IBM Plex Sans', sans-serif;
    font-size: 3em;
    line-height: 1.1em;
    font-weight:500;
 }

 h4 {
   font-family: 'Gerstner-ProgrammRegular', 'IBM Plex Sans', sans-serif;
    font-size: 2em;
    line-height: 1.25em;
    font-weight:400;
 }

 h5 {
   font-family: 'Gerstner-ProgrammRegular', 'IBM Plex Sans', sans-serif;
   font-size: 1.5em;
   line-height: 1.25em;
   font-weight:400;
 }

 h6 {
   font-family: 'Gerstner-ProgrammRegular', 'IBM Plex Sans', sans-serif;
    font-size: 1.125em;
    line-height: 1.25em;
    font-weight: 400;
 }

 .h6-alt {
    font-family: 'IBM Plex Mono' ,'Courier New', Courier, monospace ; 
    font-size: 1em;
    line-height: 1.25em;
    font-weight:400;
    letter-spacing: 0.32px;
    text-transform: uppercase;
 }

 label {
   font-family: 'IBM Plex Mono' ,'Courier New', Courier, monospace ; 
   font-size: 1em;
   line-height: 1.25em;
   font-weight: 500;
   letter-spacing: 0.32px;
   text-transform: uppercase;
 }

 .body-xl {
    font-size: 1.5em;
    line-height: 1.25em;
    font-weight:500;
 }

 .body-l {
    font-size: 1.25em;
    line-height: 1.25em;
    font-weight:500;
 }

 .body-md {
   font-size: 1em;
   line-height: 1.25em;
   font-weight:normal;
}

 .body-s {
    font-size: 0.875em;
    line-height: 1.25em;
    font-weight:500;
 }

 .body-xs {
    font-size: 0.75em;
    line-height: 1.25em;
    font-weight:500;
 }
 a {
   color: var(--color-charcoal);
 }
 a:hover{
   color: var(--color-bronze-dark);
 }


/*GRID MOLECULES------------------------------------------*/

/*------FLEX GRIDS--------*/
.grid-flex-6{
   display: flex;
   padding: 0px 1.75em;
   justify-content:space-evenly;
   align-items: flex-start;
   gap: var(--spacing-base, 0.5em) var(--spacing-base, 0.5em);
   flex-wrap: wrap;
}
.col-flex-6{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-right: 0.5em;
   min-width: 13em;
   max-width: 15%;
}
.grid-flex-5{
   display: flex;
   padding: 0px 1.75em;
   justify-content:space-evenly;
   align-items: flex-start;
   gap: var(--spacing-xs, 1em) var(--spacing-xs, 1em);
   flex-wrap: wrap;
}
.col-flex-5{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-width: 16.5em;
   max-width: 19%;
}
.grid-flex-4{
   display: flex;
   padding: 0px 1.75em;
   justify-content: space-evenly;
   align-items: flex-start;
   gap: var(--spacing-sm, 1.5em) var(--spacing-sm, 1.5em);
   flex-wrap: wrap;
}
.col-flex-4 {
   display: flex;
   padding-right: 0.25em;
   flex-direction: column;
   align-items: flex-start;
   min-width: 20em;
   max-width: 23%;
}
.grid-flex-3{
   display: flex;
   padding: 0px 1.75em;
   justify-content:space-evenly;
   align-items: flex-start;
   gap: var(--spacing-md, 2em) var(--spacing-md, 2em);
   flex-wrap: wrap;
}
.col-flex-3 {
   display: flex;
   padding-right: 1em;
   flex-direction: column;
   align-items: flex-start;
   min-width: 13em;
   max-width: 31%;
}
.grid-flex-2{
   display: flex;
   padding: 0px 1.75em;
   justify-content:space-evenly;
   align-items: flex-start;
   gap: var(--spacing-lg, 2.5em) var(--spacing-lg, 2.5em);
   flex-wrap: wrap;
}
.col-flex-2 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-width: 20em;
   max-width: 48%;
}
.grid-flex-1{
   display: flex;
   flex-direction: column;
   padding: 0px 1.75em;
   justify-content:flex-start;
   align-items: flex-start;
   gap: var(--spacing-lg, 2.5em);
}


/*------GRID TEMPLATES--------*/
.grid-6{
   display: grid;
   grid-template-columns: repeat(6, minmax(13em, 1fr));
   grid-auto-rows: auto;
   gap:var(--spacing-base, 0.5em);
   padding: var(--spacing-xl) 0em;
}
.grid-5{
   display: grid;
   grid-template-columns: repeat(5, minmax(16.5em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-xs, 1em);
   margin: 0px 1.75em;
}
.grid-4{
   display: grid;
   grid-template-columns: repeat(4, minmax(20em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-sm, 1.5em);
   margin: 0px 1.75em;
}
.grid-3{
   display: grid;
   grid-template-columns: repeat(3, minmax(25.5em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-md, 2em);
   margin: 0px 1.75em;
}
.grid-2{
   display: grid;
   grid-template-columns: repeat(2, minmax(42em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-lg, 2.5em);
   margin: 0px 1.75em;
}

.col-1{
   grid-column: 1/2;
   grid-row: auto;
}
.col-2{
   grid-column: 2/3;
   grid-row: auto;
}
.col-3{
   grid-column: 3/4;
   grid-row: auto;
}
.col-4{
   grid-column: 4/5;
   grid-row: auto;
}
.col-5{
   grid-column: 5/6;
   grid-row: auto;
}
.col-6{
   grid-column: 6/7;
   grid-row: auto;
}


/*----MOLECULES----*/

.nav{
   display: flex;
   justify-content: space-between;
   padding-bottom: 1em;
}
#nav-logo{
   min-width: 3em;
   max-width: 3em;
}
#nav-items{
   display: flex;
   justify-content: flex-end;
   gap: var(--spacing-lg);
   align-items: flex-start;

}
#nav-items a{
   color: var(--color-charcoal);
   text-decoration: none;
}
#nav-items a:hover{
   color: var(--color-charcoal);
   border-bottom: 2px solid var(--color-graphite-b6);
}
#nav-items .current-page{
   color: var(--color-charcoal);
   border-bottom: 2px solid var(--color-graphite-b6);
}

/*HEADERS*/
.header-left{
   display: flex;
   flex-direction: column;
   padding: var(--spacing-sm) 0em;
}


/*Content Blocks*/
.vertical-base{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--spacing-base, 0.5em);
   align-self: stretch;
}
.vertical-xs{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--spacing-xs, 1em);
   align-self: stretch;
}

/*Gallery Main*/
.gallery{
   display: flex;
   flex-direction: row;
   gap: var(--spacing-5xl);
   flex-wrap: nowrap;
   padding: var(--spacing-xl) 0em;
   overflow-x: scroll;
}
.entry{
   display: inline-flex;
   flex-direction: row;
   gap: var(--spacing-sm);
   align-items: flex-start;
   
}
.frame-label{
   display: flex;
   width: 200px;
   align-self: stretch;
   flex-direction: column;
   justify-content: end;
   gap: var(--spacing-xs, 1em);
   padding: var(--spacing-xs) 0em;
}

/*COLLECTIONS MAIN*/
.pin{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--spacing-xs);
   padding:var(--spacing-xs) var(--spacing-base);
}


/*SCROLLBAR*/
/* width */
::-webkit-scrollbar {
  height: 0.75em;
  width: 0.5em;
  mix-blend-mode: multiply;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  visibility: hidden;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #dedddd;
  border-radius: 0.5em;
}

/*Image Treatments*/
.image-framed{
   width: 440px;
   border-radius: 2px;
   box-shadow: 0px 29px 16px 4px rgba(36, 36, 36, 0.08), 
   0px 27px 8px -16px rgba(50, 51, 52, 0.15), 
   -2px 2px 2px 0px rgba(255, 255, 255, 0.15) inset;
}
.image-printed{
   width: 100%;
   height:fit-content;
   border-radius: 2px;
   opacity: 0.9;
   box-shadow: -1px 1px 1px 0px rgba(50, 51, 52, 0.15) inset;
   filter: saturate(10%);
}
.image-printed:hover{
   filter: saturate(100%);
}



