/*ATOMS------------------------------------------------------------*/

/*FONTS*/
@font-face {
   font-family: 'Calluna-Regular';
   src: url('../blog/assets/Calluna-Regular-webfont.woff2') format('woff2'),
        url('../blog/assets/Calluna-Regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna-It';
   src: url('../blog/assets/Calluna-It-webfont.woff2') format('woff2'),
        url('../blog/assets/Calluna-It-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna-Bold';
   src: url('../blog/assets/Calluna-Bold-webfont.woff2') format('woff2'),
        url('../blog/assets/Calluna-Bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

/*COLORS*/
:root {
   --colors-ink: #222326;
   --colors-ink-faded: #3B4045;
   --colors-bronze-dark: #753009;
   --colors-bronze: #BA6C3B;
   --colors-gold-dark: #BF7F02;
   --colors-gold: #E8BE52;
   --colors-sakura-dark: #5E313E;
   --colors-sakura: #F09C94;
   --colors-olive-dark: #41452B;
   --colors-olive: #8A8860;
   --colors-blue-dark: #293E56;
   --colors-blue: #607C95;
   --paper-gray: #F3F3F4;
   --paper-gray-high: hsla(210, 8%, 85%, 0.3);
   --paper-gray-mid: hsla(210, 8%, 85%, 0.6);
   --paper-gray-low: hsla(210, 8%, 85%, 1);
   --paper-cream: #FBF9F9;
   --paper-cream-high: hsla(25, 50%, 88%, 1);
   --paper-cream-mid: hsla(25, 50%, 88%, 0.6);
   --paper-cream-low: hsla(25, 50%, 88%, 0.3);
   --paper-pollen: #FDFDF7;
   --paper-pollen-high:hsla(47, 74%, 85%, 1);
   --paper-pollen-mid: hsla(47, 74%, 85%, 0.6);
   --paper-pollen-low: hsla(47, 74%, 85%, 0.3);
   --paper-sakura: #FFEFEE;
   --paper-sakura-high:hsla(4, 85%, 90%, 1);
   --paper-sakura-mid:hsla(4, 85%, 90%, 0.6);
   --paper-sakura-low:hsla(4, 85%, 90%, 0.3);
   --paper-olive: #EAEBE0;
   --paper-olive-high: hsla(62, 22%, 70%, 1);
   --paper-olive-mid: hsla(62, 22%, 70%, 0.6);
   --paper-olive-low: hsla(62, 22%, 70%, 0.3);
   --paper-blue: #E0E7EB;
   --paper-blue-high:hsla(208, 22%, 70%, 1);
   --paper-blue-mid: hsla(208, 22%, 70%, 0.6);
   --paper-blue-low: hsla(208, 22%, 70%, 0.3);   
}


/*TYPE STYLES*/
body {
   font-family: 'Calluna-Regular', Georgia, 'Times New Roman', Times, serif; 
   font-size: 16px;
   line-height: 1.4em;
   font-weight:normal;
   color: var(--colors-ink-faded, #242424);
}

/*All font sizes right now are based in ems off of the body font size. So for any responsive adjustments changes can be made to body
first and then micro adjusted if need be. */

h1 {
    font-size: 5.25em;
    line-height: 1.3em;
    font-weight:500;
    color: var(--colors-ink);
 }

 h2 {
    font-size: 4.5em;
    line-height: 1.1em;
    font-weight:500;
    color: var(--colors-ink);
 }

 h3 {
    font-size: 4em;
    line-height: 1.1em;
    font-weight:500;
    color: var(--colors-ink);
 }

 h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5em;
    line-height: 1.3em;
    font-weight:400;
    color: var(--colors-ink);
 }

 h5 {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 2em;
   line-height: 1.3em;
   font-weight:400;
   color: var(--colors-ink);
 }

 h6 {
    font-family: 'IBM Plex Mono' ,'Courier New', Courier, monospace ; 
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight:400;
    color: var(--colors-ink);
    letter-spacing: 0.32px;
    text-transform: uppercase;
 }

 label {
   font-family: 'IBM Plex Mono' ,'Courier New', Courier, monospace ; 
   font-size: 1em;
   line-height: 1.4em;
   font-weight: 600;
   color: var(--colors-ink);
   letter-spacing: 0.32px;
   text-transform: uppercase;
 }

 .body-xl {
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight:500;
 }

 .body-l {
    font-size: 1.25em;
    line-height: 1.4em;
    font-weight:500;
 }

 .body-s {
    font-size: 0.875em;
    line-height: 1.4em;
    font-weight:500;
 }

 .body-xs {
    font-size: 0.75em;
    line-height: 1.4em;
    font-weight:500;
 }

 /*Some grid testing not the official grid styles */
/*Coloring the bg so I can test grids*/
 h3, p{
   /*background-color: hsl(160, 100%, 75%, 0.5);*/
 }

 body{
   margin: 5em 1.75em;
 }
 
 section{
   /*background-color: hsl(180, 100%, 50%, 0.5);*/
   display:grid;
   grid-template-columns: repeat(6, minmax(14em, 1fr));
   grid-auto-rows:minmax(2em, auto);
   gap:1.75em;
 }

 article{
   /*background-color: hsl(240, 100%, 50%, 0.5);*/
 }

 #article-1 {
   grid-column: 1/2;
   grid-row: 1;
 }
 #article-2 {
   grid-column: 2/3;
   grid-row: 1;
 }
 #article-3 {
   grid-column: 3/4;
   grid-row: 1;
}
#article-4 {
   grid-column: 4/5;
   grid-row: 1;
}
#article-5 {
   grid-column: 5/6;
   grid-row: 1;
}
#article-6 {
   grid-column: 6/7;
   grid-row: 1;
}