/*ATOMS------------------------------------------------------------*/

/*FONTS*/
@font-face {
   font-family: 'Calluna-Regular';
   src: url('../blog/assets/Calluna-Regular-webfont.woff2') format('woff2'),
        url('../blog/assets/Calluna-Regular-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna-It';
   src: url('../blog/assets/Calluna-It-webfont.woff2') format('woff2'),
        url('../blog/assets/Calluna-It-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

@font-face {
   font-family: 'Calluna-Bold';
   src: url('../blog/assets/Calluna-Bold-webfont.woff2') format('woff2'),
        url('../blog/assets/Calluna-Bold-webfont.woff') format('woff');
   font-weight: normal;
   font-style: normal;
}

/*COLORS*/
:root {
   --colors-ink: #222326;
   --colors-ink-faded: #3B4045;
   --colors-bronze-dark: #753009;
   --colors-bronze: #BA6C3B;
   --colors-gold-dark: #BF7F02;
   --colors-gold: #E8BE52;
   --colors-sakura-dark: #5E313E;
   --colors-sakura: #F09C94;
   --colors-olive-dark: #41452B;
   --colors-olive: #8A8860;
   --colors-blue-dark: #293E56;
   --colors-blue: #607C95;
   --paper-gray: #F3F3F4;
   --paper-gray-high: hsla(210, 8%, 85%, 0.3);
   --paper-gray-mid: hsla(210, 8%, 85%, 0.6);
   --paper-gray-low: hsla(210, 8%, 85%, 1);
   --paper-cream: #FBF9F9;
   --paper-cream-high: hsla(25, 50%, 88%, 1);
   --paper-cream-mid: hsla(25, 50%, 88%, 0.6);
   --paper-cream-low: hsla(25, 50%, 88%, 0.3);
   --paper-pollen: #FDFDF7;
   --paper-pollen-high:hsla(47, 74%, 85%, 1);
   --paper-pollen-mid: hsla(47, 74%, 85%, 0.6);
   --paper-pollen-low: hsla(47, 74%, 85%, 0.3);
   --paper-sakura: #FFEFEE;
   --paper-sakura-high:hsla(4, 85%, 90%, 1);
   --paper-sakura-mid:hsla(4, 85%, 90%, 0.6);
   --paper-sakura-low:hsla(4, 85%, 90%, 0.3);
   --paper-olive: #EAEBE0;
   --paper-olive-high: hsla(62, 22%, 70%, 1);
   --paper-olive-mid: hsla(62, 22%, 70%, 0.6);
   --paper-olive-low: hsla(62, 22%, 70%, 0.3);
   --paper-blue: #E0E7EB;
   --paper-blue-high:hsla(208, 22%, 70%, 1);
   --paper-blue-mid: hsla(208, 22%, 70%, 0.6);
   --paper-blue-low: hsla(208, 22%, 70%, 0.3);
   
   --spacing-base:0.5em;
   --spacing-xs:1em;
   --spacing-sm:1.5em;
   --spacing-md:2em;
   --spacing-lg:2.5em;
   --spacing-xl:3em;
   --spacing-2xl:3.5em;
   --spacing-3xl:4em;
   --spacing-4xl:4.5em;
   --spacing-5xl:5em;
   --spacing-6xl:10em;
   --breakpoint-desktop: 1440px;
   --breakpoint-mobile: 500px;

}


/*TYPE STYLES*/
body {
   font-family: 'Calluna-Regular', Georgia, 'Times New Roman', Times, serif; 
   font-size: 16px;
   line-height: 1.4em;
   font-weight:normal;
   color: var(--colors-ink-faded, #242424);
   padding: 1.75em;
}

/*All font sizes right now are based in ems off of the body font size. So for any responsive adjustments changes can be made to body
first and then micro adjusted if need be. */

h1 {
    font-size: 5.25em;
    line-height: 1.1em;
    font-weight:500;
    color: var(--colors-ink);
    margin: 0px;
    padding: 0px;
 }

 h2 {
    font-size: 4.5em;
    line-height: 1.1em;
    font-weight:500;
    color: var(--colors-ink);
    margin: 0px;
    padding: 0px;
 }

 h3 {
    font-size: 4em;
    line-height: 1.1em;
    font-weight:500;
    color: var(--colors-ink);
    margin: 0px;
    padding: 0px;
 }

 h4 {
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 2.5em;
    line-height: 1.3em;
    font-weight:400;
    color: var(--colors-ink);
    margin: 0px;
    padding: 0px;
 }

 h5 {
   font-family: 'IBM Plex Sans', sans-serif;
   font-size: 2em;
   line-height: 1.3em;
   font-weight:400;
   color: var(--colors-ink);
   margin: 0px;
   padding: 0px;
 }

 h6 {
    font-family: 'IBM Plex Mono' ,'Courier New', Courier, monospace ; 
    font-size: 1.25em;
    line-height: 1.4em;
    font-weight:400;
    color: var(--colors-ink);
    letter-spacing: 0.32px;
    text-transform: uppercase;
    margin: 0px;
    padding: 0px;
 }

 label {
   font-family: 'IBM Plex Mono' ,'Courier New', Courier, monospace ; 
   font-size: 1em;
   line-height: 1.4em;
   font-weight: 500;
   color: var(--colors-ink);
   letter-spacing: 0.32px;
   text-transform: uppercase;
   margin: 0px;
   padding: 0px;
 }

 .body-xl {
    font-size: 1.5em;
    line-height: 1.4em;
    font-weight:500;
    margin: 0px;
    padding: 0px;
 }

 .body-l {
    font-size: 1.25em;
    line-height: 1.4em;
    font-weight:500;
    margin: 0px;
    padding: 0px;
 }

 .body-s {
    font-size: 0.875em;
    line-height: 1.4em;
    font-weight:500;
    margin: 0px;
    padding: 0px;
 }

 .body-xs {
    font-size: 0.75em;
    line-height: 1.4em;
    font-weight:500;
    margin: 0px;
    padding: 0px;
 }

/*GRID MOLECULES------------------------------------------*/

/*------FLEX GRIDS--------*/
.grid-flex-6{
   display: flex;
   padding: 0px 1.75em;
   justify-content:space-evenly;
   align-items: flex-start;
   gap: var(--spacing-base, 0.5em) var(--spacing-base, 0.5em);
   flex-wrap: wrap;
}
.col-flex-6{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   padding-right: 0.5em;
   min-width: 13em;
   max-width: 15%;
}
.grid-flex-5{
   display: flex;
   padding: 0px 1.75em;
   justify-content:space-evenly;
   align-items: flex-start;
   gap: var(--spacing-xs, 1em) var(--spacing-xs, 1em);
   flex-wrap: wrap;
}
.col-flex-5{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-width: 16.5em;
   max-width: 19%;
}
.grid-flex-4{
   display: flex;
   padding: 0px 1.75em;
   justify-content: space-evenly;
   align-items: flex-start;
   gap: var(--spacing-sm, 1.5em) var(--spacing-sm, 1.5em);
   flex-wrap: wrap;
}
.col-flex-4 {
   display: flex;
   padding-right: 0.25em;
   flex-direction: column;
   align-items: flex-start;
   min-width: 20em;
   max-width: 23%;
}
.grid-flex-3{
   display: flex;
   padding: 0px 1.75em;
   justify-content:space-evenly;
   align-items: flex-start;
   gap: var(--spacing-md, 2em) var(--spacing-md, 2em);
   flex-wrap: wrap;
}
.col-flex-3 {
   display: flex;
   padding-right: 1em;
   flex-direction: column;
   align-items: flex-start;
   min-width: 13em;
   max-width: 31%;
}
.grid-flex-2{
   display: flex;
   padding: 0px 1.75em;
   justify-content:space-evenly;
   align-items: flex-start;
   gap: var(--spacing-lg, 2.5em) var(--spacing-lg, 2.5em);
   flex-wrap: wrap;
}
.col-flex-2 {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   min-width: 20em;
   max-width: 48%;
}
.grid-flex-1{
   display: flex;
   flex-direction: column;
   padding: 0px 1.75em;
   justify-content:flex-start;
   align-items: flex-start;
   gap: var(--spacing-lg, 2.5em);
}

/*------GRID TEMPLATES--------*/
.grid-6{
   display: grid;
   grid-template-columns: repeat(6, minmax(13em, 1fr));
   grid-auto-rows: auto;
   gap:var(--spacing-base, 0.5em);
   margin: 0px 1.75em;
}
.grid-5{
   display: grid;
   grid-template-columns: repeat(5, minmax(16.5em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-xs, 1em);
   margin: 0px 1.75em;
}
.grid-4{
   display: grid;
   grid-template-columns: repeat(4, minmax(20em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-sm, 1.5em);
   margin: 0px 1.75em;
}
.grid-3{
   display: grid;
   grid-template-columns: repeat(3, minmax(25.5em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-md, 2em);
   margin: 0px 1.75em;
}
.grid-2{
   display: grid;
   grid-template-columns: repeat(2, minmax(42em, 1fr));
   grid-auto-rows: auto;
   grid-auto-flow: row;
   gap:var(--spacing-lg, 2.5em);
   margin: 0px 1.75em;
}

.col-1{
   grid-column: 1/2;
   grid-row: auto;
}
.col-2{
   grid-column: 2/3;
   grid-row: auto;
}
.col-3{
   grid-column: 3/4;
   grid-row: auto;
}
.col-4{
   grid-column: 4/5;
   grid-row: auto;
}
.col-5{
   grid-column: 5/6;
   grid-row: auto;
}
.col-6{
   grid-column: 6/7;
   grid-row: auto;
}


/*----MOLECULES----*/

#nav-container{
   justify-content: space-between;
}
#nav-logo{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 0px;
   min-width: 3em;
   max-width: 3em;
}
#nav-items{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: var(--spacing-sm, 24px);
   flex: 1 0 0;
   flex-direction: row;
}
#social-list{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: var(--spacing-base, 8px);
}

/*HEADERS*/
#header-center{
   padding: var(--spacing-md, 2.5em) 0px;
}
#spacer-min{
   flex:0 2 1.75em;
   min-width: 1.75em;
}
#spacer-fill{
   flex: 1 0 auto;
   min-width: none;
   max-width: auto;
}
#header-content-center{
   text-align: center;
   align-items: center;
   max-width: 60%;
}

/*Content Blocks*/
.vertical-base{
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   gap: var(--base, 8px);
   align-self: stretch;
}

/*Image Treatments*/
.timeline-image{
   height: fit-content;
   max-width: var(--spacing-6xl, 160px);
   align-self: stretch;
   background: var(--paper-gray-mid, #D6D9DC);
   mix-blend-mode: multiply;
}