:root{
    --accent-primary-dark: #293E56;
    --accent-primary-light: #607C95;
    --paper-gray: #F3F3F4;
    --paper-gray-high: hsla(210, 8%, 85%, 0.3);
    --paper-gray-mid: hsla(210, 8%, 85%, 0.6);
    --paper-gray-low: hsla(210, 8%, 85%, 1);
}

body{
    background-color: var(--paper-gray);
}

#date-title{
    border-top: 2px solid var(--accent-primary-light, #607C95);
    display: flex;
    padding: 1em 0px 0.5em 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}