:root{
    --accent-primary-dark: #5E313E;
    --accent-primary-light: #F09C94;
    --paper-cream: #FBF9F9;
    --paper-cream-high: hsla(25, 50%, 88%, 1);
    --paper-cream-mid: hsla(25, 50%, 88%, 0.6);
    --paper-cream-low: hsla(25, 50%, 88%, 0.3);
}

body{
    background-color: var(--paper-cream);
}

#date-title{
    border-top: 2px solid var(--accent-primary-light);
    color: var(--accent-primary-dark);
    display: flex;
    padding: 1em 0px 0.5em 0px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
}

#divider{
    height: 2px;
    align-self: stretch;
    background-color: var(--accent-primary-dark);
    margin-top: 1em;
    margin-bottom: 10em;
}